logs/
*.zip
bin/
.gradle/
.gradle-user-home/
build/
temp/
local/
docs/
graphs/
!src/test/java/evaluator/joiner/gmark-testcases/examplegraphs/**/*.edge
*.md
!README.md
build.gradle
settings.gradle
.gitignore
scripts/
